.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-title {

}

.email-input {

}

.password-title {

}

.password-input {

}

.submit {
    margin-top: 15px;
}
